* {
  margin: 0;
  background-color: black;
  color: white;
}

.topbar {
  padding: 16px;
  text-align: center;
}

.markdown{
  overflow: hidden;
}

textarea {
  background-color: gray;
  height: 100%;
  outline: none;
  width: 100%;
  overflow: hidden;
}

textarea::placeholder{
  color:white
}

.preview {
  padding: 8px;
  border: 1px solid white;
}
